body {
  min-width: 1400px;
  max-width: 1400px;
}
h1 {
  font-size:26px;
  height: 60px;
  line-height: 60px;
}
#search-form {
  height: 60px;
  font-size: 14px;
  padding-top: 20px;
  border-bottom:1px solid #000;
}

#search-form span {
  font-weight: bold;
}

#search-form #w0, #w1 {
  outline: none;
  width: 100px;
  height: 24px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#search-form #w1{
  margin-right:20px;
}

#search-form i {
  font-weight: bold;
}

#search-form .color {
  margin-left: 10px;
  border-radius: 4px;
  width: 60px;
  height: 26px;
  color: #fff;
  background-color: dodgerblue;
  outline: none;
  border: none;
  vertical-align: top;
}

input.phone {
  width: 160px;
  text-align: center;
}

select {
  -webkit-appearance: menulist;
  margin-right: 60px;
  width: 140px;
}

p.jlzts {
  height: 40px;
  line-height: 40px;
  text-align: right;
  box-sizing: border-box;
}
table {
  border: none;
}

table tr {
  width: 100%;
  border: none;
}

table tr th {
  width: 8.33%;
  background-color: rgba(242, 242, 242, 1);
  font-weight: bold;
  font-size: 44px;
  height: 100px;
}

table tr th, table tr td {
  text-align: center;
  height: 50px;
  border: none;
}

table tr td {
  border-bottom:1px solid rgba(200, 200, 200, 1);
}
